.hello{
    color: red;
}

h1{
    color: blue;
}

img{
    width: 100px;
    height: auto;
}

.textInputContainer{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    color: red;
}

.opcionPago{
    color: blue;
}

.horarioIndividual{
    display: flex;
    flex-direction: row;
    gap: 10px;
}